* {

}

header {
    border: 1px solid red;
    display: flex;
}

header img {
    padding: 2px;
    width: 50px;
    border-radius: 50%;
    margin: 0 0 0 1rem;
}

nav {
    margin: auto;
    border: 1px solid red;
}

nav ul {
    border: 1px solid blue;
    
}

nav ul li {
    border: 1px solid green;
}